
.container {
  background: transparent;
  font-family: kelvetica;
  margin: 0 auto;
  padding: 2rem;
}

.section {
  margin-bottom: 3rem;
  text-align: left;
}

.section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
  transition: color 0.3s;
}

.section h2:hover {
  color: #fbc02d;
}

.section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: whitesmoke;
  transition: color 0.3s;
}

.section h3:hover {
  color: #fbc02d;
}

.section p {
  font-size: 1.1rem;
  color: wheat;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.experienceSection {
  margin-bottom: 3rem;
  text-align: left;
  background: transparent;
  margin: 3rem -2rem;
  padding: 3rem 2rem;
}

.experienceSection h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: snow;
  transition: color 0.3s;
}

.experienceSection h2:hover {
  color: #fbc02d;
}

.experienceSection h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: snow;
  transition: color 0.3s;
}

.experienceSection h3:hover {
  color: #fbc02d;
}

.experienceSection p {
  font-size: 1.1rem;
  color: snow;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.timelineItem {
  border-left: 4px solid #fbc02d;
  padding-left: 1.5rem;
  margin-bottom: 2.5rem;
  transition: border-color 0.3s;
}

.timelineItem:last-child {
  margin-bottom: 0;
}

.timelineItem:hover {
  border-color: #fbc02d;
}

.timelineItem h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: snow;
  margin-bottom: 0.5rem;
}

.period {
  color: #fbc02d;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.interestCard {
  background: transparent;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  transition: border-color 0.3s;
}

.interestCard:last-child {
  margin-bottom: 0;
}

.interestCard:hover {
  border-color: #fbc02d;
}

.introText {
  font-size: 1.25rem;
  color: white;
  line-height: 1.7;
  margin-bottom: 2rem;
}

img.about-photo {
  background-color: red;
}

/* About Detail */

.aboutContainer {
      display: flex;
    justify-items: center;
    align-items: center;
    gap: 25px;
  
    padding: 50px;
}

img {
    animation: slideFadeIn 2s ;
}

@keyframes slideFadeIn {
  from {
    opacity : 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(auto);
  }
}



.title{
  color : white;  
}

.experienceSlide {
  background-image: url(/public/Hero_Banner.png);
  width: 100%;
  
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .section h2 {
    font-size: 2rem;
  }

  .section h3 {
    font-size: 1.25rem;
  }

  .experienceSection {
    margin: 2rem -1.5rem;
    padding: 2rem 1.5rem;
  }
}
